<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!--Для использования аннотаций-->
    <context:annotation-config />

    <import resource="beans/sony.xml"/>
    <import resource="beans/toshiba.xml"/>

    <bean id="t800" class="com.hanada.spring.implementation.T800"
          p:hand-ref="toshibaHand" p:leg-ref="sonyLeg" p:head-ref="sonyHead">

        <constructor-arg value="silver" index="0" type="java.lang.String" />
        <constructor-arg value="2005" index="1" type="int" />
        <constructor-arg value="true" index="2" type="boolean" />

    </bean>


    <bean id="t1000" class="com.hanada.spring.implementation.T800">

    </bean>

    <bean class="com.hanada.spring.implementation.MyBeanPostProcessor"/>
</beans>